<% if (title && itemData) { %>
    <h1><%= title %></h1>
    <% if (errors && errors.length > 0) { %>
    <div class="error-message">
      <% errors.forEach(error => { %>
      <p><%= error.msg %></p>
      <% }); %>
    </div>
    <% } %>
    <form id="updateForm" action="/inv/update" method="post">
        <!-- Input fields for vehicle details -->
        <label for="make">Make:</label>
        <input type="text" id="make" name="inv_make" required value="<%= formData ? formData.inv_make : itemData.inv_make %>"><br>
    
        <label for="model">Model:</label>
        <input type="text" id="model" name="inv_model" required value="<%= formData ? formData.inv_model : itemData.inv_model %>"><br>
    
        <label for="year">Year:</label>
        <input type="number" id="year" name="inv_year" required value="<%= formData ? formData.inv_year : itemData.inv_year %>"><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="inv_description" rows="4" cols="50" required><%= formData ? formData.inv_description : itemData.inv_description %></textarea><br>
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="inv_price" required value="<%= formData ? formData.inv_price : itemData.inv_price %>"><br>
        
        <label for="miles">Miles:</label>
        <input type="number" id="miles" name="inv_miles" required value="<%= formData ? formData.inv_miles : itemData.inv_miles %>"><br>
        
        <label for="color">Color:</label>
        <input type="text" id="color" name="inv_color" required value="<%= formData ? formData.inv_color : itemData.inv_color %>"><br>
        
<!-- Dropdown for classification -->
<label for="classification">Classification:</label> 
<select id="classification" name="classification_id" required>
    <option value="">Select a Classification</option>
    <% classificationsData.rows.forEach(row => { %>
        <% if (row.classification_id === itemData.classification_id) { %>
            <option value="<%= row.classification_id %>" selected><%= row.classification_name %></option>
        <% } else { %>
            <option value="<%= row.classification_id %>"><%= row.classification_name %></option>
        <% } %>
    <% }); %>
</select><br>
        
        <label for="image">Image:</label>
        <input type="text" id="image" name="inv_image" required value="<%= formData ? formData.inv_image : itemData.inv_image %>"><br>
        <% if (errors && errors.find(error => error.param === 'inv_image')) { %>
            <p class="error-message"><%- errors.find(error => error.param === 'inv_image').msg %></p>
        <% } %>
    
        <label for="thumbnail">Thumbnail:</label>
        <input type="text" id="thumbnail" name="inv_thumbnail" required value="<%= formData ? formData.inv_thumbnail : itemData.inv_thumbnail %>"><br>
        <% if (errors && errors.find(error => error.param === 'inv_thumbnail')) { %>
            <p class="error-message"><%- errors.find(error => error.param === 'inv_thumbnail').msg %></p>
        <% } %>
    
        <!-- Submit button -->
        <button type="submit" disabled>Update Vehicle</button>
        <input type="hidden" name="inv_id" value="<%= itemData.inv_id %>">
    </form>
    <script src="/js/inv-update.js"></script>
<% } %>